
/* EXPERIÊNCIA */

.conteudo-experiencia {
    margin-bottom: 30px;
    grid-column: 1;
    grid-row: 2;
}

.conteudo-experiencia ul {
    color: #00EEFF;
    gap: 10px;
    display: flex;
    cursor: pointer;
    margin-top: 20px;
    justify-content: center;
    width: 80px;
    margin-left: 248px;
}



.conteudo-experiencia div {
    background-color: #222;
    animation: secaoLado .8s ease-in-out forwards;
    padding: 40px;
    position: relative;
    display: none;

}

.conteudo-experiencia div.ativo {
    display: block;
}



.conteudo-experiencia div::before {
    content: '';
    border-right: 30px solid transparent;
    border-bottom: 30px solid #222;
    position: absolute;
    top: -20px;
    left: 30px;
    display: inline-block;

}

.conteudo-experiencia div span {
    color: #00EEFF;
    font-family: 'poppins';
    font-weight: bold;
    margin-left: 400px;

}

.conteudo-experiencia div h3 {
    font-family: 'poppins';
    margin: 10px 0;
}

.conteudo-experiencia div p {
    color: #707070;
    font-size: 1.1rem;
}

.conteudo-experiencia ul li.ativo {
    color: #3e3d3d;
}

/* EDUCAÇÃO */

.conteudo-educacao {
    margin-bottom: 30px;
    grid-column: 2;
    grid-row: 2;
}

.conteudo-educacao div {
    background-color: #222;
    padding: 40px;
    position: relative;
    animation: secaoLado .8s ease-in-out forwards;
    display: none;
}

.conteudo-educacao div.ativo {
    display: block;
}



.conteudo-educacao ul {
    color: #00EEFF;
    gap: 10px;
    display: flex;
    cursor: pointer;
    margin-top: 20px;
    justify-content: center;
    margin-left: 250px;
    width: 50px;

}

.conteudo-educacao div::before {
    content: '';
    border-right: 30px solid transparent;
    border-bottom: 30px solid #222;
    position: absolute;
    top: -20px;
    left: 30px;
    display: inline-block;
}

.conteudo-educacao div span {
    color: #00EEFF;
    font-family: 'poppins';
    font-weight: bold;
}

.conteudo-educacao div h3 {
    font-family: 'poppins';
    margin: 10px 0;
}

.conteudo-educacao div p {
    color: #707070;
    font-size: 1.1rem;
}

.conteudo-educacao ul li.ativo {
    color: #3e3d3d;
}
