@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family= Roboto :ital@1 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');



:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --van-top:red;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: 16px;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 13px;
  }
}

.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.reveal-visible {
  opacity: 1;
  transform: translateY(0);
}

